body{
    width: 100%;
    height: auto;
}


/* ナビゲーションバー */
header{
    width: 100%;
    top: 0;
    left: 0;
}
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.a{
    width: 50%;
    font-size: 40px;
}
.b{
    display: table-cell;
    vertical-align: middle;
}
header nav ul li {
    width: 10%; 
    font-size: 15px;
    line-height: 100px;
    background-color: rgb(97, 97, 234);
    text-align: center;
    padding: auto;
}
header ul li + li {
    border-left: 2px solid white;
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}
a{
    text-decoration: none;
}
.a:hover{
    opacity: 0.7;
}
.b:hover{
    opacity: 0.7;
}




.carousel-inner{
    margin: auto;
}
.carousel-item img{
    width: 70%;
    height: 450px;
    object-fit: fill;
    margin: 25px auto;
}
.carousel-control-prev{
    margin-left: 125px;
}
.carousel-control-next{
    margin-right: 125px;
}
.carousel-indicators button{
    margin-bottom: 15px;
}

.container h1{
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    position: absolute;
    top:17%;
    left:55%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    font-size:80px;
    color: black;
    font-weight: bold;  /* 追記 */
}
.container img{
    width: 100%; 
    height: 200px;
}
.logo img{
    position: absolute;
    top:17%;
    left:32%;
    transform: translate(-50%,-50%);
    padding:0;
    margin:0;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 26);
}

/* ここから追記 */
.container{
    max-width: 100%;
    padding: 0;
    height: 207px;
}


